 /* Paleta Colors: */
 /* Lime Green #44c44d */
 /* Maize #f2ed54 */
 /* FireBrick #b22323 */
 /* Light Gray #d0e5d3 */
 /* Black #070400 */

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}
 
.centrat{
	text-align:center;
}

header{
	border-bottom: 1px solid #d0e5d3;
	margin: 0px;
	margin-top:10px;
}

.logo{
	margin-left:25px;
	background-image: url("../img/logo.png");
	background-repeat:no-repeat;
	background-size:100%;
	background-position: 50% 50%;
	height:120px;
}

.posicionar{
	display:block;
	position:absolute;
	top: 58px;
	left: -2px;
}

/* Menu Web */


.menu{
	position:absolute;
	top:35px;
	margin:28px;
	cursor:pointer;
	font-family: Rastaerize;Helvetica;
	font-size: 22px;
}

.menu>li{
	float:left;
}
.menu>li>a{
		display:block;
		padding: 10px 15px;
		color:black;
}

.menu>li>a:hover{
	color: #b22323;
	text-decoration:none;
}

.menu li ul{
	display: none;
	top: 45px;
	position: absolute;
	min-width: 140px;
	text-align: left;
}

.menu>li:nth-child(5){
	padding-left:35px;
	padding-top:7px;
}

.menu>li:nth-child(6){
	padding-left:15px;
	padding-top:7px;
}

/* OPCIO Sub Menu */

/* .menu li:hover > ul{ */
	/* display:block; */
/* } */

/* .menu>li:nth-child(2){ */
	/* padding-bottom:15px; */
/* } */

/* .menu li ul li{ */
	/* margin:10px; */
	/* position:relative; */
/* } */

/* fi menu web */

.separar{
	margin-top:20px;
}
